﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="height:50px;"></div>
<div class="container">

    <main role="main" id="main" class="pb-3">
        <!-- ======= Product Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="color:#e5b419">Product</h2>
                    <p>Our websites are easy to customize and manage, so you can focus on what you do best. Running your business or creating your content.</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-1">Profile</li>
                    <li data-filter=".filter-2">e-Commerce</li>
                    <li data-filter=".filter-3">Others</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-1">
                        <div class="portfolio-img"><img src="~/img/product/tiktok_profile2.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Tiktok Profile</h4>
                            <p>Profile</p>
                            <a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-1">
                        <div class="portfolio-img"><img src="~/img/product/profile.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Business Profile</h4>
                            <p>Profile</p>
                            <a href="~/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-1">
                        <div class="portfolio-img"><img src="~/img/product/profile-2.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Personal Profile</h4>
                            <p>Profile</p>
                            <a href="~/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-2">
                        <div class="portfolio-img"><img src="~/img/product/product-4.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Memberbase</h4>
                            <p>e-Commerce</p>
                            <a href="~/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-2">
                        <div class="portfolio-img"><img src="~/img/product/product-8.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Mariela</h4>
                            <p>e-Commerce</p>
                            <a href="~/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-2">
                        <div class="portfolio-img"><img src="~/img/product/product-9.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Coffee Style</h4>
                            <p>e-Commerce</p>
                            <a href="~/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-3">
                        <div class="portfolio-img"><img src="~/img/product/product-7.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Dashflow X</h4>
                            <p>Dashboard</p>
                            <a href="~/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-3">
                        <div class="portfolio-img"><img src="~/img/product/product-5.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>HireUP</h4>
                            <p>Recruitment website</p>
                            <a href="~/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-3">
                        <div class="portfolio-img"><img src="~/img/product/product-6.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Wriology</h4>
                            <p>Blog</p>
                            <a href="~/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Product" asp-action="Details" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->
    </main>
</div>